body {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
}

button {
  background: #EA80FC;
  border: 0;
  cursor: pointer;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 1rem;
  color: #000;
  border-radius: 4px;
  border: 3px solid transparent;
  margin-bottom: 1rem;
  flex: 1;
  text-align: center;
}

button:hover {
  background: #D167E3;
}

button:active {
  transform: translateY(1px);
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: .5;
  background: #616163;
}

button:disabled:hover,
button[disabled]:hover,
button:disabled:active {
  background: #616163;
  transform: none;
}

button.error {
  background: #b30000;
}

button.error:hover {
 background: #990000;
}

button.neutral {
  background: #616163;
  color: #fff;
}

button.neutral:hover {
  background: #474749;
}
